<footer class="footer-container">
    <img class="ucr-svg" src="assets/img/footer/ucr.svg" alt="">
    <div class="info-container">
        <div class="contact-container">
            <h2>Contacto</h2>
            <p>Correo: <a href="mailto:tcusikuaditso@ucr.ac.cr">tcusikuaditso@ucr.ac.cr</a></p>
        </div>
        <div class="networks-container">
            <h2>Redes</h2>
            <a href="https://www.facebook.com/Sikua.Ditso645" target="_blank">
                <img class="icon" src="assets/img/footer/facebook-icon.png" alt="">
            </a>
            
        </div>
    </div>
</footer>