<app-navbar></app-navbar>

<div class="main-container">
    <div class="blue-container">
        <h1>Nuestros objetivos son:</h1>
        <div class="content-container">
            <div class="paragraph">
                <p>
                    <span style="font-weight: bold;">Apoyar</span> los procesos educativos en los Liceos Rurales del territorio cabécar de Chirripó con el propósito 
                    de que el estudiantado finalice la secundaria y al mismo tiempo favoreciendo el ingreso a la educación 
                    superior pública con la colaboración del Trabajo Comunal Universitario mediante el desarrollo de acciones culturalmente 
                    pertinentes.
                </p>
            </div>
            
            <img class="" src="assets/img/about/image2.jpg" alt="image1">

            <div class="paragraph">
                <p>
                    <span style="font-weight: bold;">Colaborar</span> mediante diversas actividades y recursos con el desarrollo integral de la población del territorio indígena Cabécar.
                </p>
            </div>
            
        </div>
    </div>
    <div class="middle-container">
        <div>
            <h1 style="color: #005DA4; text-align:center" >¿Como lo hacemos?</h1>
        </div>
        <div class="content-container">
            <div class="how-we-do-it-one">
                <div class="rectangle">
                    <h1>Talleres</h1> 
                    <p>
                        <span style="font-weight: bold;">Introducciones y preparación</span> a los estudiantes
                        de secundaria
                    </p>
                </div>
            </div>
            <div class="how-we-do-it-two">
                <div class="rectangle">
                    <h1>Giras de campo</h1> 
                    <p>
                        <span style="font-weight: bold;">Visitas</span> a centros
                        educativos en el Territorio Cabécas de Chirripó
                </div>
            </div>
            <div class="how-we-do-it-three">
                <div class="rectangle">
                    <h1 class="rectangle_h1">Acompañamiento</h1> 
                    <p>
                        <span style="font-weight: bold;">Guía</span> en una nueva 
                        etapa académica de educación superior
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="blue-container">
        <h1>Si quieres participar deber tomar en cuenta:</h1>
        <div class="content-container_c2">
            <div class="list">
                <ul>
                    <li>Tu disposición y apertura para trabajar con personas de contextos culturales indígenas.</li>
                    <li>Es necesario que cuentes con disponibilidad para desplazarte a las comunidades indígenas.</li>
                    <li>Tu iniciativa para participar proactivamente en propuestas y ejecución de acciones.</li>
                    
                </ul>
            </div>
            
           
            <img class="" src="assets/img/about/image4.jpg" alt="image1">
            
            
        </div>
    </div>
</div>


<app-footer></app-footer>