<app-navbar></app-navbar>

<div class="background-blue text-white">
    <h1 class="page-title local-margin">Nuestros objetivos son:</h1>
    <div class="objectives-container local-margin">
        <p>
            <span style="font-weight: bold;">Apoyar</span> los procesos educativos en los Liceos Rurales del
            territorio cabécar de Chirripó con el propósito
            de que el estudiantado finalice la secundaria y al mismo tiempo favoreciendo el ingreso a la educación
            superior pública con la colaboración del Trabajo Comunal Universitario mediante el desarrollo de
            acciones culturalmente
            pertinentes.
        </p>
        <p>
            <span style="font-weight: bold;">Colaborar</span> mediante diversas actividades y recursos con el
            desarrollo integral de la población del territorio indígena Cabécar.
        </p>
    </div>
</div>


<h1 class="page-title text-center">¿Cómo lo hacemos?</h1>
<div class="activities-container">
    <div class="activity">
        <img class="activity-image" src="/assets/img/about/talleres.jpg" alt="">
        <div class="activity-text background-blue text-white">
            <h2>Talleres</h2>
            <p>
                <span style="font-weight: bold;">Introducciones y preparación</span> a los estudiantes
                de secundaria
            </p>
        </div>
    </div>

    <div class="activity">
        <img class="activity-image" src="/assets/img/about/giras.jpg" alt="">
        <div class="activity-text background-blue text-white">
            <h2>Giras de campo</h2>
            <p>
                <span style="font-weight: bold;">Visitas</span> a centros
                educativos en el Territorio Cabécas de Chirripó
            </p>
        </div>
    </div>

    <div class="activity">
        <img class="activity-image" src="/assets/img/about/acomp.jpg" alt="">
        <div class="activity-text background-blue text-white">
            <h2>Acompañamiento</h2>
            <p>
                <span style="font-weight: bold;">Guía</span> en una nueva
                etapa académica de educación superior
            </p>
        </div>
    </div>
</div>



<div class="background-blue text-white recomendations-container">
    <div class="local-margin">
        <h1 class="page-title">Si quieres participar deber tomar en cuenta:</h1>
        <ul>
            <li>Tu disposición y apertura para trabajar con personas de contextos culturales indígenas.</li>
            <li>Es necesario que cuentes con disponibilidad para desplazarte a las comunidades indígenas.</li>
            <li>Tu iniciativa para participar proactivamente en propuestas y ejecución de acciones.</li>

        </ul>
    </div>
    <div class="recomendation-image-container">
        <img class="recomendation-image" src="assets/img/about/imagen6.jpg" alt="image6">
    </div>
</div>


<app-footer></app-footer>