.objectives-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}

.objectives-container p {
    flex-grow: 1;
    flex-basis: 300px;
}

.activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.activity {
    position: relative;
    display: flex;
    max-width: 70%;
    height: 40em;
    flex-grow: 1;
    flex-basis: 300px;
    flex-direction: column;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;     
    overflow: hidden;
}

.activity-text {
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 75%;
    padding: 1em;
    bottom: 0;
}

.activity-image {
    height: inherit;
    width: max-content;
}

.local-margin {
    margin-left: 2rem;
    margin-right: 2rem;
}

h1 {
    padding-top: 2rem;
}

.recomendations-container {
    display: flex;
    flex-wrap: wrap;
}

.recomendation-image-container {
    display: flex;
    flex-grow: 1;
    flex-basis: 300px;
    justify-content: center;
    width: 40%;
    padding: 2em;
}

.recomendation-image {
    width: 60%;
}