.nav-container {
    background-color: #00C0F3;
    width: 100%;
}

.nav-header {
    align-items: center;
    width: 100%;
    height: 70%;
}

.nav-header>.logo {
    height: 6em;
    margin: 1em;
    margin-left: 2em;
}

.nav-actions {
    display: flex;
    background-color: #C2C1C0;
    width: 100%;
    height: 2em;
    justify-content: space-evenly;
}

.nav-actions>button {
    all: unset;
    width: 10%;
    text-align: center;
    min-width: 10em;
    font-weight: 800;
    font-size: 1.2rem;
}

.nav-actions>button:hover {
    background-color: #313232;
    color: #C2C1C0;
}