.image-container {
    display: flex;
    justify-content: center;
}

.article-image {
    width: 60%;
    height: auto;
}

.article-body {
    padding: 1em;
}

p {
    text-indent: 4em;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}