.image-container {
    display: flex;
    justify-content: center;
}

.article-image {
    width: 60%;
    height: auto;
}

.article-body {
    padding: 1em;
    margin-top: 1em;
}

p {
    text-indent: 4em;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    height: 2.5em;
    text-align: center;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 800;
    font-size: 1.3em;
}

.back-button:hover {
    background-color: #313232;
    color: #C2C1C0;
}