:root {
    /* 1rem = 10px*/
    font-size: 62.5%;
}

.main-background {
    background-color: #E6E6E6;
    width: 100%;
}

.page-content {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 2em;
}

.nav-header {
    display: flex;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Trueno", sans-serif;
}

p, a {
    font-size: 1.6rem;
}

h1 {
    text-align: center;
}

.background-light-gray {
    background-color: #C2C1C0;
}

.background-light-blue {
    background-color: #00C0F3;
}

.background-blue {
    background-color: #005DA4;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}
