<app-navbar></app-navbar>

<div class="page-content main-background">

    <ngb-carousel [ngClass]="'carousel'">
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper image-wrapper">
                <img class="image" [src]="image" alt="" />
            </div>
        </ng-template>
    </ngb-carousel>

    <div class="info-container">
        <h1>Nuestros objetivos son</h1>
        <p class="objective-text-container">
            Apoyar los procesos educativos en los Liceos Rurales del territorio cabécar de Chirripó con el propósito de
            que el estudiantado finalice la secundaria y al mismo tiempo favoreciendo el ingreso a la educación superior
            pública con la colaboración del Trabajo Comunal Universitario mediante el desarrollo de acciones
            culturalmente pertinentes.

        </p>
        <p class="objective-text-container">
            Colaborar mediante diversas actividades y recursos con el desarrollo integral de la población del territorio
            indígena Cabécar.
        </p>
    </div>
</div>

<app-footer></app-footer>